.modal {
    display: none;
    position: fixed;
    z-index: 9000;
    left: 0;
    
    top: 2;
    width: 100%; /* Cambiado de 50% a 100% */
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center; 
    font-family: 'Roboto';/* Color de fondo para oscurecer la página */
  }
  
  .modal-content {
	color: black;
    background-color: #fefefe;
    margin: 10% auto; /* Modificado el margen para centrar verticalmente */
    padding: 20px;
    border: 1px solid #000000;
    width: 40%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 50px;
    max-height: 400px; /* Altura máxima del contenido */
    overflow-y: auto;
   
  }

  .modal :-webkit-scrollbar {
		width: 0; /* Hacemos la barra de desplazamiento invisible */
	}

  
  /* Estilos para el título del modal */
  .modal-content h2 {
    font-weight: bold;
    text-align: center;
  }
  
  /* Estilos para el modal activo */
  .modal.active {
    display: block;
  }
  
/* Estilos para los botones */




/* Animación para mostrar el modal */
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

/* Animación para centrar el modal */
@keyframes slideIn {
from {
    transform: translateY(-50%);
}
to {
    transform: translateY(0);
}
}

/* Aplicar animaciones al modal */
.modal-content {
animation: slideIn 0.5s ease-in-out;
}

.modal-content button {
animation: fadeIn 0.5s ease-in-out;
}

  #botonCrear{
    background-color: #000000;
  }

  #botonEditar{
    border-radius: 5px;
    width: 80px;
    height: 35px;
    background-image:linear-gradient(to right,hsl(236, 65%, 51%),hsl(192, 70%, 51%));
color:hsl(0, 0%, 100%);
  color: white;
    
  }


  #botonEliminar{
    border-radius: 5px;
    margin-left: 5px;
     width: 80px;
    height: 35px;
    background-image:linear-gradient(to right,hsl(357, 65%, 51%),hsl(0, 100%, 50%));
 
  }


body{
  
  font-weight: 400;
  background-image:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
  
  
}

.container {
	max-width: 880px;
	margin: 0 auto;
	padding-top: 20px;
	color: #7c7f8d;
}

.wallet-container {
	background-color: #fff;
	border-radius: 7px;
	width: 100%;
	margin: 40px auto 0;
	box-shadow: 0 0 19px 5px rgba(0, 0, 0, .2);
	display: flex;
	height: 620px;
	margin-bottom: 30px;
}

	.wallet-container aside {
		width: 43%;
		background-color: #f2f2f2;
		border-top-left-radius: 7px;
		border-bottom-left-radius: 7px;
		padding: 40px;
		list-style: none;
    overflow-y: auto; /* Agregamos overflow-y para permitir scroll vertical */
    max-height: 620px; /* Establecemos una altura máxima para el contenedor */
    margin-bottom: 0;
	}

	
	.wallet-container aside::-webkit-scrollbar {
		width: 0; /* Hacemos la barra de desplazamiento invisible */
	}

		.wallet-container aside h3 {
			font-weight: 400;
			font-size: 24px;
			color: #7c7f8d;
		}

			.wallet-container aside h3 a {
				text-decoration: none;
				color: #c6cce5;
				font-size: 38px;
				position: relative;
				top: 1px;
				font-weight: 500;
				line-height: 0;
			}


		.wallet-container aside .cards {
			list-style: none;
			margin-top: 30px;
		}

			.wallet-container aside .cards li {
				display: block;
				background-color: #fff;
				width: 100%;
				font-size: 16px;
				border-radius: 2px;
				border: 2px solid #e1e1e1;
				padding: 15px;
				font-family: 'Roboto';
				margin: 40px 0;
				cursor: pointer;
			}

				.wallet-container aside .cards li:first-child { margin-top: 0; }
				.wallet-container aside .cards li:last-child { margin-bottom: 0; }

				.wallet-container aside .cards li.active {
					border: 4px solid #8493c7;
				}

				.wallet-container aside .cards li .card-emblem {
					width: 64px;
					height: 44px;
					margin-bottom: 15px;
				}

                .wallet-container aside .cards li.card-visa .card-emblem {
                    background-image: url('https://www.mark-eriksson.com/work/designs/Wallet/img/visa.png');
                }
                
                .wallet-container aside .cards li.card-amex .card-emblem {
                    background-image: url('https://www.mark-eriksson.com/work/designs/Wallet/img/amex.png');
                }
                
                .wallet-container aside .cards li.card-mastercard .card-emblem {
                    background-image: url('https://www.mark-eriksson.com/work/designs/Wallet/img/mastercard.png');
                }
                

				.wallet-container aside .cards li .card-number {
					color: #676767;
					font-size: 20px;
					font-weight: 400;
					letter-spacing: 0.07em;
				}

				.wallet-container aside .cards li .card-valid {
					color: #b3b3b3;
					margin-top: 8px;
					font-size: 15px;
				}


	.wallet-container main {
		width: 60%;
		padding: 40px;
	}

		.wallet-container main .balance {
			border-bottom: 1px solid #e5e5e5;
			padding-bottom: 40px;
			font-size: 24px;
			color: #7c7f8d;
		}

			.wallet-container main .balance .balance-value {
				position: relative;
				font-weight: 700;
				font-size: 38px;
				color: #444750;
				top: -5px;
				line-height: 44px;
			}

				.wallet-container main .balance .balance-value .small-numbers {
					font-size: 18px;
					position: relative;
					top: -13px;
				}

		.wallet-container main .transactions {
			margin-top: 30px;
		}

		.wallet-container main .transactions ul {
			list-style: none;
			overflow-y: auto; /* Agregamos overflow-y para permitir scroll vertical */
			max-height: 400px; /* Establecemos una altura máxima para el contenedor */
		}

		.wallet-container main .transactions ul::-webkit-scrollbar {
			width: 0; /* Ancho de la barra de desplazamiento */
		}

				.wallet-container main .transactions ul li {
					display: flex;
					align-items: center;
					width: 100%;
					color: #333333;
					justify-content: space-between;
					cursor: pointer;
					margin: 30px 0;
				}

					.wallet-container main .transactions ul li:first-child { margin-top: 0; }

					.wallet-container main .transactions ul li:last-child { margin-bottom: 0; }

					.wallet-container main .transactions ul li .transaction-details {
						line-height: 1.4;
					}

						.wallet-container main .transactions ul li .transaction-details .transaction-symbol {
							height: 22px;
							width: 22px;
							border: 2px solid #ebebeb;
							font-weight: 700;
							display: inline-block;
							text-align: center;
							font-size: 20px;
							border-radius: 50%;
							line-height: 16px;
							padding-left: 1px;
							margin: 12px 12px 0 0;
						}					

						.wallet-container main .transactions ul li .transaction-details .transaction-name {
							font-size: 18px;
							font-weight: 500;
						}

						.wallet-container main .transactions ul li .transaction-details .transaction-meta {
							color: #a9a9a9;
							font-size: 14px;
						}

					.wallet-container main .transactions ul li.funds-minus .transaction-balance {
						color: #8493c7;
					}

					.wallet-container main .transactions ul li.funds-plus .transaction-balance {
						color: #6bc93f;
					}

					.wallet-container main .transactions ul li .transaction-balance {
						font-size: 18px;
						font-weight: 500;
						position: relative;
					}

						.wallet-container main .transactions ul li .transaction-balance .small-numbers {
							position: relative;
							font-size: 12px;
							top: -4px;
						}

@media only screen and (max-width: 900px) {
	.container {
		max-width: 100%;
	}
	
	.wallet-container {
		display: block;
		box-shadow: none;
		margin: 0;
		width: 100%;
	}
	
	.wallet-container aside, .wallet-container main {
		width: 100%;
	}
	
	
	
	.wallet-container main .transactions ul {
		list-style: none;
		overflow-y: auto; /* Agregamos overflow-y para permitir scroll vertical */
		max-height: 500px; /* Establecemos una altura máxima para el contenedor */
	}

	.wallet-container main .transactions ul::-webkit-scrollbar {
		width: 0; /* Ancho de la barra de desplazamiento */
	}
	
	
	
}

@media only screen and (max-width: 560px) {
	.wallet-container aside .cards li {
		width: 100%;
	}
	
	.wallet-container main .transactions ul li .transaction-details .left {
		display: none;
	}
}


input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.cf:before, .cf:after {
	display: table;
	content: " ";
	font-size: 0;
}

.cf:after {
	clear: both;
}

.left { float: left; }
.right { float: right; }



button {
    
    border:none;
    background-image:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
    color:hsl(0, 0%, 100%);
    cursor:pointer;
	width: 200px;
    
  }

  .panelBtn{
	text-align: center;
  }

  .close  {
    display: flex;
    justify-content: right;
}

.modal-content::-webkit-scrollbar {
  width: 0; /* Hacemos la barra de desplazamiento invisible */
}


#line-chart {
	width: 500px;
	height: 200px;
	position: relative;
  }

 .graficos2{
	display: grid;
 }

 

  
 .checkbox-container {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	user-select: none;
}

/* Estilo del indicador del checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Estilo del marcador del checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border: 1px solid #ccc;
}

/* Estilo del marcador cuando está marcado */
.checkbox-container input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Estilo del marcador (checkmark) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Mostrar el checkmark cuando el input está marcado */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Estilo del tick (check) dentro del marcador */
.checkbox-container .checkmark:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}