.user-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 50%;
}

body {
    background-image:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
  
}

.profile-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 50%;
}

.btn btn-secondary {
    display: flex;
    justify-content: center;
}


table {
    margin: 0 auto;
    padding-top: 20%;
    color: rgb(255, 255, 255); /* Color del texto igual al del borde */
    width: 80%; /* Ancho de la tabla */
    background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%)); /* Degradado de fondo */
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border-style: hidden; /* Oculta el borde estándar de la tabla (colapsado) */
   
}

.flat-table th,
.flat-table td {
    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(0, 0, 0, 0.25);
}

.flat-table th {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: inherit; /* Heredar el color del texto del padre */
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 1.5em;
}

.flat-table td {
    padding: 0.7em 1em 0.7em 1.15em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    font-size: 1.4em;
}

.flat-table tr:hover {
    background: rgba(0, 0, 0, 0.19);
}

.modal {
  display: none;
  position: fixed;
  z-index: 9000;
  left: 0;
  
  top: 2;
  width: 100%; /* Cambiado de 50% a 100% */
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center; 
  font-family: 'Roboto';/* Color de fondo para oscurecer la página */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* Modificado el margen para centrar verticalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 50px;
  max-height: 400px; /* Altura máxima del contenido */
  overflow-y: auto;
 
}

.modal :-webkit-scrollbar {
  width: 0; /* Hacemos la barra de desplazamiento invisible */
}


/* Estilos para el título del modal */
.modal-content h2 {
  font-weight: bold;
  text-align: center;
}

/* Estilos para el modal activo */
.modal.active {
  display: block;
}

/* Estilos para los botones */




/* Animación para mostrar el modal */
@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

/* Animación para centrar el modal */
@keyframes slideIn {
from {
  transform: translateY(-50%);
}
to {
  transform: translateY(0);
}
}

/* Aplicar animaciones al modal */
.modal-content {
animation: slideIn 0.5s ease-in-out;
}

.modal-content button {
animation: fadeIn 0.5s ease-in-out;
}

#botonCrear{
  background-color: #000000;
}


span {
  display: flex;
  justify-content: right;
}

.modal-content::-webkit-scrollbar {
width: 0; /* Hacemos la barra de desplazamiento invisible */
}
  
  span {
    display: flex;
    justify-content: right;
}

.modal-content::-webkit-scrollbar {
  width: 0; /* Hacemos la barra de desplazamiento invisible */
}

button {
  width: 200px;
    height: 40px;
  display: block;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border: none;
  background-image:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
color:hsl(0, 0%, 100%);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 500ms ease;
  box-shadow: 0 3px 10px -5px #0cc51b;
  &:hover {
      transform: scale(1.1);
  }
}


.checkbox-container {
	display: inline-block;
	position: relative;
	padding-left: 25px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	user-select: none;
}

/* Estilo del indicador del checkbox */
.checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Estilo del marcador del checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border: 1px solid #ccc;
}

/* Estilo del marcador cuando está marcado */
.checkbox-container input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Estilo del marcador (checkmark) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Mostrar el checkmark cuando el input está marcado */
.checkbox-container input:checked ~ .checkmark:after {
	display: block;
}

/* Estilo del tick (check) dentro del marcador */
.checkbox-container .checkmark:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
