/* Write your CSS code here */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css?family=Public+Sans&display=swap');

body {
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6dede;
    cursor:default;
}

.form-container {
    height: 650px;
    width: 750px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background-color: white;
    overflow: hidden;
    position: relative;
}

.login-container,.signup-container {
    width: 50%;
    padding: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    transition: all 500ms ease;
    
}
.signup-container{
  transform:scale(0);
}

.title{
    font-size: 30px;
    font-weight: 500;
}

.desc {
    font-size: 12px;
}

.input-container {
    margin-top: 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid hsl(136, 65%, 51%);
    display: flex;
    align-items: center;
}

input{
    height: 100%;
    border: none;
    margin-left: 5px;
    outline: none;
    font-family: "Roboto", sans-serif;
}

.account-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-controls>a {
    text-decoration: none;
    color: hsl(136, 65%, 51%);
    font-size: 12px;
}

.account-controls>button {
    width: 65px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    background-image:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
  color:hsl(0, 0%, 100%);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 500ms ease;
    box-shadow: 0 3px 10px -5px #0cc51b;
    &:hover {
        transform: scale(1.1);
    }
}

.line {
    width: 100%;
    height: 2px;
    background-color: #bfc0c9;
    border-radius: 10px;
}

.other-login-text {
    text-align: center;
    font-size: 12px;
    color: #0cc51b;
}

.placeholder-banner {
    width: 50%;
    height: 100%;
    position:absolute;
    right:0;
    transition: all 500ms ease;
    z-index:4;
    background-image:linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
}

.social-logins {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.social-login {

    height: 40px;
    aspect-ratio: 1/1;
    border: 2px solid #bfc0c9;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    cursor: pointer;
    transition:transform 500ms ease;
    &:hover{
        transform:scale(1.1);
    }
}
.signup-text{
    margin-top: 5px;
    font-size: 12px;
}
#signup-form-toggler,#login-form-toggler{
    cursor: pointer;
    text-decoration: none;
    color:#0cc51b;
  &:hover{
    border-bottom:1px solid;
  }
}
.banner {
    width: 100%;
    height: inherit;
    object-fit: cover;
    background-color: #0cc51b;
    transition: transform 500ms ease;
    

}

h1 {
    color:hsl(233, 26%, 24%);
    
}


.modal {
    display: none;
    position: fixed;
    z-index: 9000;
    left: 0;
    
    top: 2;
    width: 100%; /* Cambiado de 50% a 100% */
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center; 
    font-family: 'Roboto';/* Color de fondo para oscurecer la página */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; /* Modificado el margen para centrar verticalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 50px;
    max-height: 400px; /* Altura máxima del contenido */
    overflow-y: auto;
   
  }

  .modal :-webkit-scrollbar {
		width: 0; /* Hacemos la barra de desplazamiento invisible */
	}

  
  /* Estilos para el título del modal */
  .modal-content h2 {
    font-weight: bold;
    text-align: center;
  }
  
  /* Estilos para el modal activo */
  .modal.active {
    display: block;
  }
  
/* Estilos para los botones */




/* Animación para mostrar el modal */
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}

/* Animación para centrar el modal */
@keyframes slideIn {
from {
    transform: translateY(-50%);
}
to {
    transform: translateY(0);
}
}

/* Aplicar animaciones al modal */
.modal-content {
animation: slideIn 0.5s ease-in-out;
}

.modal-content button {
animation: fadeIn 0.5s ease-in-out;
}


